{
    "predicates":
    [
        {
            "equals":
            {
                "method": "GET",
                "path": "/company-stubs/api/company/Albert%20Heijn"
            }
        }
    ],
    "responses":
    [
        {
            "is": <% include responses/albert-heijn.json %>
        }
    ]
},
{
    "predicates":
    [
        {
            "equals":
            {
                "method": "GET",
                "path": "/company-stubs/api/company/Unilever"
            }
        }
    ],
    "responses":
    [
        {
            "is": <% include responses/unilever.json %>
        }
    ]
},
{
    "predicates":
    [
        {
            "equals":
            {
                "method": "GET",
                "path": "/company-stubs/api/company/MagicMiceStudios"
            }
        }
    ],
    "responses":
    [
        {
            "is": <% include responses/magic-mice-studios.json %>
        }
    ]
},
{
    "predicates":
    [
        {
            "equals":
            {
                "method": "GET",
                "path": "/company-stubs/api/company/AndysCompany"
            }
        }
    ],
    "responses":
    [
        {
            "is": <% include responses/andys-company.json %>
        }
    ]
},
{
    "predicates":
    [
        {
            "equals":
            {
                "method": "GET",
                "path": "/company-stubs/api/company"
            }
        }
    ],
    "responses":
    [
        {
            "is": <% include responses/all.json %>
        }
    ]
}

