{
    "imposters": [
        {
            "port": 8001,
            "protocol": "http",
            "recordRequests": true,
            "defaultResponse": {
                "statusCode": 404,
                "body":
                {
                    "detail": "Not found"
                }
            },
            "stubs": [
                <% include company.ejs %>
            ]
        }
    ]
}
